@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Contact list application</h2>
    
</div>
<h3>Features:</h3>
<br />
<div class="row"  width ="100%">
    <div class="col-md-4">
        <h4>Authentication</h4>
        <p>
            users:
        </p>
        <p>
            admin 1
        </p>
        <p>
            user  2
        <p>
         <br />
         <h4>Google maps</h4>
        <p>
            contacts - > detailes
        </p>
        <br />
        <h4>Logging</h4>
        <p>
            Actions and errors logs
        </p>
        <br />
        <h4>Error pages</h4>
        <p>
            Errors handling and redirecting
        </p>

</div>
</div>
<br /><br /><br />